<h1> Edit this Dog </h1>

<ul>
<% @dog.errors.full_messages.each do |message| %>
    <li>
        <%= message %>
    </li>
    <% end %>
</ul>
<span id="edit_img"><%= image_tag @dog.img %></span>
<%= form_for @dog do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label "Image" %><br>
    <%= f.text_field :img %><br>    
    <%= f.submit %>
    <% end %>

    <%= link_to "Dog Index Page", dogs_path %>
    <%= link_to "Delete Dog", dog_path(@dog), :method => :delete %>
