<h1> Create a new Dog </h1>

<ul>
<% @dog.errors.full_messages.each do |message| %>
    <li>
        <%= message %>
    </li>
<% end %>
</ul>
<%= form_for @dog do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit %>
    <% end %>