<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <div class="container">
  <nav>
  <ul>
  <li><%=  link_to "Home page", home_path %></li>
  <li><%= link_to "Dog Index Page", dogs_path %></li> 
  <li><%= link_to "User Index Page", users_path %></li>
  <li><%= link_to "Adoption Page", apps_path %></li>
  <li><%= link_to "About Page", about_path %></li>
</ul>
</nav>
</div>
    <%= yield %>
   
  </body>
</html>
